Resume for Naomi Kosheen CSS File


body {
  background-image:Pole Dancer BG.jpg;
}

h1 {
  color: blue;
  text-align: center;
  /* style="border: 2px solid Violet;" */
}

h2 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

h4 {
  color: black;
  font-size: 18px;
}

p {
  font-family: times;
  font-size: 22px;
}
